<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
   
  <appSettings>
    <!-- Common Settings -->
    <add key="Env" value="live" /> <!-- beta or live-->
    <add key="SeleniumTestUrl" value="https://www.cwjobs.co.uk" />
    <add key="Browser" value="chrome" />
    <add key="ImagePath" value="\TestData\Images\" />
    
    <!-- Beta Site strings -->    
    <!--<add key="ParentUserName" value="vikas@tudubuddy.com" />
    <add key="ParentPassword" value="tudubuddy" />
    <add key="KidUserName" value="testchild1" />
    <add key="KidPassword" value="12345" />
    <add key ="AdminUsername" value ="testadmin1@tudubuddy.com"/>
    <add key ="AdminPassword" value ="Password 00"/>-->  
    
    <!-- Live Site strings -->
    <add key="ParentUserName" value="automationtester@tudubuddy.com" />
    <add key="ParentPassword" value="Password 00" />
    <add key="KidUserName" value="AutomationChild" />
    <add key="KidPassword" value="12345" />
    <add key="AdminUsername" value="admin@tudubuddy.com" />
    <add key="AdminPassword" value="Password 00" /> 
    
    
    <add key="BetaDbConnectionString" value="Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9B8732_tudubuddybeta;User Id=DB_9B8732_tudubuddybeta_admin;Password=SmarterASP0;Transaction Binding=Explicit Unbind;Pooling=false" />
    <add key="LiveDbConnectionString" value="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9B8732_tudubuddy;User Id=DB_9B8732_tudubuddy_admin;Password=SmarterASP00;Transaction Binding=Explicit Unbind;Pooling=false" />
       
  </appSettings>

    <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=TuduBuddy;Persist Security Info=False;UID=TuduBuddyDbLogin;Password=M$SQLSucks;Transaction Binding=Explicit Unbind;Pooling=false" providerName="System.Data.SqlClient"/> -->
    <!--<add xname="DefaultConnection" xconnectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9B8732_tudubuddy;User Id=DB_9B8732_tudubuddy_admin;Password=SmarterASP00;Transaction Binding=Explicit Unbind;Pooling=false" providerName="System.Data.SqlClient" />-->
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>

<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun+MsTest" /> 
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow></configuration>